@import "~bootstrap/scss/bootstrap";
@import "sidebar";
@import "dashboard";
@import "apartments";

#sponsorship_link {
    text-decoration: none;
    color: black;
}

.list-group {
    span{
        border-color: #ff3f25;
    };
}