@import "partials/variable";

#main_container {
    background-color: $bg-primary;
    max-height: 100vh;
    overflow: auto;
}



//INDEX
#apartment_list_index {
    max-height: 85vh;
    overflow-x: auto;
    & thead th {
        background-color: #fe5d26;
        padding-top: 10px;
        padding-bottom: 10px;
        font-weight: lighter;
        text-transform: uppercase;
        color: white;
    }

    & tbody td {
        padding-top: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid $border-muted;

        & a {
            color: black;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        & img {
            width: 100%;
            max-width: 80px;
            border-radius: 10px;
            aspect-ratio: 1 / 1;
            object-fit: cover;
        }
    }
}

.ms-label-void {
    background-color: #ffffff;
    padding: 0.5rem;
    border-radius: 15px;
    border: #d45f38;
    color: white;
}

.btn-orange {
    color: white;
    background-color: #fe5d26 !important;
    font-weight: bold;
    border: 0;

    &:hover {
        color: white;
        background-color: #d45f38 !important;
    }
}

.text-orange {
    color: #7EBC89;
    font-weight: bold;
}

.form-check-input:checked {
    background-color: #FE5D26;
    border-color: #FE5D26;
}

.btn-show,
.btn-edit,
.btn-delete {
    color: white !important;
}

.btn-show {
    background-color: #7EBC89;
    border-color: #7EBC89;

    &:hover {
        background-color: lighten(#7EBC89, 20%);
    }
}

.btn-edit {
    background-color: #FE5D26;
    border-color: #FE5D26;

    &:hover {
        background-color: lighten(#FE5D26, 20%);
    }
}

.btn-delete {
    background-color: red;
    border-color: red;

    &:hover {
        background-color: lighten(red, 20%);
    }

}

#sponsor_ap:hover{
    border-color: #FE5D26  !important;
}

.chart{
    background-color: white;
    padding: 1.5rem;
    margin: - 10px;
}

/* Mobile */
@media (max-width: 767px) { /* 768px è un punto di interruzione comune per mobile, ma puoi ajustarlo secondo le tue esigenze */
    #preview {
        width: 100%;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) { /* 1024px è un punto di interruzione comune per tablet, ma puoi ajustarlo secondo le tue esigenze */
    #preview {
        width: 75%;
    }
}

/* Laptop */
@media (min-width: 1025px) {
    #preview {
        width: 60%;
    }
}
