@import"partials/variable";

#sidebarMenu {
	color: #7EBC89 !important;
	background-color: white !important;
	padding-left: 0 !important;
	padding-right: 0 !important;

	.nav-link {
		color: #7EBC89 !important;
		font-weight: 600;
		border-radius: 6px;
		margin: 0 8px;
		padding: 14px 20px !important;

		&.active {
			background-color: #FE5D26 !important;
			color: white !important;
			text-decoration: none;
		}
		&:hover{
			background-color: #FE5D26;
			color: white !important;


		}
		
		&:hover span {
			text-decoration: none;
		}
	}

}

.separator {
	border-bottom: 1px solid $border-muted;
	width: 100%;
	margin: 25px 0;
}
.muted {
	color: $muted;
}